.feynman {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  background: url('../../images/feynman/feynman.png') bottom left/876px 637px no-repeat;
  background-color: #f2f2f2;
  min-height: 890px;
}
