.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #000000;
}

.header {
  position: relative;
  display: flex;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  /* выше установили ограничения для секции */
  /*border: 2px solid #f452a0;*/
  /*выше установили границы блока*/
}

.header__title {
  display: flex;
  align-self: center;
  position: absolute;
  z-index: 2;
  left: 64px;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
}

.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 0;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
}

.header__main-illustartion {
  position: absolute;
  z-index: 1;
  width: 765px;
  height: 608px;
  bottom: 0;
  right: 0;
}

.header__link {
  color: 2f80ed;
  text-decoration: none;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.logo {
  width: 228px;
  height: 32px;
}

.header_place_logo {
  position: absolute;
  top: 30px;
  left: 64px;
}

/*Section: Description*/

.description {
  display: flex;
  justify-content: center;
  padding: 100px 0;
  /*border: 2px solid #f452a0;*/
}

.two-colums {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.two-colums__brief {
  align-self: flex-start;
  width: 175px;
}

.two-colums__article {
  color: #2f80ed;
  line-height: 1.2;
  font-weight: normal;
  font-size: 18px;
  margin: 0;
}

.two-colums__main-text {
  flex-direction: column;
  justify-content: center;
  min-width: 764px;
  width: 80%;
}

/*Have to add min-height upper ?*/

.two-colums__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  padding-bottom: 30px;
}

.two-colums__paragraph_m {
  margin: 0 0;
}

.two-colums__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

/*Section: Digits*/

.digits {
  padding: 100px auto;
}

.settings-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section-title {
  text-align: center;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

/*Нужно выравнять по центру*/

.section-subtitle {
  text-align: center;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0 0;
  padding-top: 20px;
}

/*С помощью миксов убрать внешний отступ*/

.table {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: baseline;
  width: 1100px;
  margin: 0 0;
  padding: 60px 0 100px 0;
}

.table__cell {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: space-between;
  padding-bottom: 60px;
  width: 250px;
}

.table__cell:nth-child(n + 5) {
  padding-bottom: 0px;
}

.table__cell_m {
  margin: 0;
}

.table__space_text-pd {
  padding-bottom: 20px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0 0;
  padding-bottom: 20px;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0 0;
}

.table__text_bank:nth-child(n + 2):after {
  content: "Всемирный банк, 2017";
}

/*
1.Необходимо доделать Элементы с блоком, где встречается банк
2. Нужно привести код в порядок - почистить, оптимизировать структуру кода
3. Добавить необходимые модификаторы
*/

/*Section: Feynman */

.feynman {
  position: relative;
  background-color: #f2f2f2;
  z-index: -1;
  height: 890px;
}

.feynman__title {
  position: relative;
  width: 648px;
  padding: 100px 0 70px 0;
  margin: 0 auto;
  text-align: center;
  z-index: 2;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
}

.feynman__subtitle {
  position: relative;
  text-align: center;
  margin: 0 auto;
  z-index: 2;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link_active {
  text-decoration: none;
}

/*
1.Нужно добавить стрелочку с таким же цветом
2. Возможно решение через блочный <span> с добавлением картинки
*/

.feynman-content__img {
  position: absolute;
  z-index: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  width: 867px;
  height: 637px;
}

.arrow::after {
  content: " \2192";
}

.kaufman {
  position: relative;
  overflow: hidden;
  background-color: #1f1f1f;
  color: white;
}

.section-title_theme_dark {
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  padding-top: 90px;
}

.section-subtitle_theme_dark {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table_theme_dark {
  padding-bottom: 90px;
  position: relative;
  z-index: 1;
}

.table__cell_theme_dark {
  width: 200px;
  padding-top: 80px;
  padding-bottom: 0;
}

.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}
.kaufman__triangle {
  position: absolute;
  /*Read about overflow*/
  top: 0;
  z-index: 0;
  right: -210px;
}
.triangle__image {
  height: 877px;
  width: 877px;
}

/*Footer*/

.footer {
  background-color: #1f1f1f;
  color: white;
  min-height: 350px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__columns {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 90%;
  padding: 60px 0 40px 0;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  flex-basis: 711px;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
  border: 1px solid #f452a0;
  flex-basis: content;
}

.footer__column-heading {
  margin: 0 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 20px;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #f452a0;
}

.footer__column-link {
  border: 1px solid #f452a0;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
  border: 1px solid #f891c2;
  flex-basis: content;
}

.footer__social-link {
  /*Have to check how it works*/
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-decoration: none;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  padding-right: 10px;
}

.footer__author {
  display: flex;
  line-height: 25px;
  font-size: 18px;
  padding: 18px;
  margin: 0 0;
}

.logo_footer {
  width: 228px;
  height: 32px;
}
