.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #000000;
}

.header {
  display: flex;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
}

.header__title {
  display: flex;
  align-self: center;
  align-items: center;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  padding-left: 64px;
  margin: 0 0;
  z-index: 2;
}

.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 0 0;
  z-index: 2;
}

.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 0;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
}

.header__main-illustartion {
  position: absolute;
  z-index: 1;
  width: 765px;
  height: 608px;
  bottom: 0;
  right: 0;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  width: 228px;
  height: 32px;
}

/*Section: Description*/

.description {
  display: flex;
  justify-content: center;
  padding: 100px 0;
}

.two-columns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief {
  align-self: flex-start;
  width: 175px;
}

.two-columns__article {
  color: #2f80ed;
  line-height: 1.2;
  font-weight: normal;
  font-size: 18px;
  margin: 0;
}

.two-columns__main-text {
  flex-direction: column;
  justify-content: center;
  min-width: 764px;
  width: 80%;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  padding-bottom: 30px;
  margin: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

/*Section: Digits*/

.digits {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 100px 0;
}

.section-title {
  text-align: center;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  padding-bottom: 20px;
}

.section-subtitle {
  text-align: center;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0 0;
}

.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;
  padding: 60px 0 100px 0;
  margin: 0;
}

.table__cell {
  display: flex;
  flex-direction: column;
  width: 250px;
  padding-top: 60px;
  margin: 0;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 20px;
  margin: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.table__text-bank {
  padding-top: 20px;
  margin: 0;
}

/*Section: Feynman */

.feynman {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  position: relative;
  background-color: #f2f2f2;
  height: 890px;
}

.feynman__title {
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  width: 648px;
  z-index: 2;
  padding: 100px 0 70px 0;
  margin: 0;
}

.feynman__subtitle {
  display: flex;
  justify-content: center;
  width: auto;
  z-index: 2;
  margin: 0 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
}

.feynman-picture__img {
  width: 867px;
  height: 637px;
  position: absolute;
  z-index: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.arrow::after {
  content: " \2192";
}

.kaufman {
  display: flex;
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #1f1f1f;
  color: white;
}

.section-title_theme_dark {
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  padding-top: 90px;
}

.section-subtitle_theme_dark {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table_theme_dark {
  padding-top: 0;
  padding-bottom: 90px;
  position: relative;
  z-index: 1;
}
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin: 0 0;
  padding-top: 80px;
  padding-bottom: 0;
}

.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}
.kaufman__triangle {
  position: absolute;
  top: 0;
  z-index: 0;
  right: -210px;
}
.triangle__image {
  height: 877px;
  width: 877px;
}

/*Footer*/

.footer {
  background-color: #1f1f1f;
  color: white;
  display: flex;
  justify-content: center;
  min-height: 350px;
}

.footer__columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-basis: 711px;
  width: 90%;
  padding: 60px 0 40px 0;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
}

.footer__column-heading {
  margin: 0 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 20px;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
}

.footer__social-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-decoration: none;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  padding-right: 10px;
}

.footer__author {
  display: flex;
  line-height: 25px;
  font-size: 18px;
  padding: 18px 0;
  margin: 0 0;
}

.logo_place_footer {
  position: static;
  width: 228px;
  height: 32px;
}
