
.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  width: 228px;
  height: 32px;
}


/*Section: Feynman */

.feynman {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  position: relative;
  background-color: #f2f2f2;
  height: 890px;
}

.feynman__title {
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  width: 648px;
  z-index: 2;
  padding: 100px 0 70px 0;
  margin: 0;
}

.feynman__subtitle {
  display: flex;
  justify-content: center;
  width: auto;
  z-index: 2;
  margin: 0 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
}

.feynman-picture__img {
  width: 867px;
  height: 637px;
  position: absolute;
  z-index: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.arrow::after {
  content: " \2192";
}

.kaufman {
  display: flex;
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #1f1f1f;
  color: white;
}

.kaufman__triangle {
  position: absolute;
  top: 0;
  z-index: 0;
  right: -210px;
}
.triangle__image {
  height: 877px;
  width: 877px;
}

/*Footer*/

.footer {
  background-color: #1f1f1f;
  color: white;
  display: flex;
  justify-content: center;
  min-height: 350px;
}

.footer__columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-basis: 711px;
  width: 90%;
  padding: 60px 0 40px 0;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
}

.footer__column-heading {
  margin: 0 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 20px;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
}

.footer__social-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-decoration: none;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  padding-right: 10px;
}

.footer__author {
  display: flex;
  line-height: 25px;
  font-size: 18px;
  padding: 18px 0;
  margin: 0 0;
}

.logo_place_footer {
  position: static;
  width: 228px;
  height: 32px;
}
